<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Mogra%7CPacifico%7CPhilosopher&display=swap" rel="stylesheet">
        <!--font-family: 'Mogra', cursive;
            font-family: 'Pacifico', cursive;
            font-family: 'Philosopher', sans-serif;-->
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='styles/default.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
        <title>Nastassia Tsishuk - CSC122 Web Project</title>
    </head>

    <body>
        <div id="centerblock">
            <header>
                <h1>Nastassia Tsishuk - CSC122 Web Project</h1>
            </header>
            <main>
                <h2>Shopping List</h2>
                {% if products|length < 1 %}
                <p>There are no products in your shopping list.</p> 
                {% else %}
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Added</th>
                        <th></th>
                    </tr>
                    {% for prod in products %}
                    <tr id="{{ prod.id }}">
                        <td>{{ prod.product }}<button type="button" onclick="updatename('{{ prod.id }}')"> </button></td>
                        <td>{{ prod.quantity }}<button type="button" onclick="updatequantity('{{ prod.id }}')"> </button></td>
                        <td class="date" >{{ prod.date_added.date() }}</td>
                        <td>
                            <a href="/delete/{{ prod.id }}">Delete</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
                <h3>Add product to the list</h3>
                <form action="/" method="POST">
                    <div class="user_product">
                        <label for="new_product">Product:</label><br>
                        <input type="text" id="new_product" name="new_product" value="Donuts">
                    </div>
                    <div class="user_product">
                        <label for="new_product_quantity">Quantity:</label><br>
                        <input type="text" id="new_product_quantity" name="new_product_quantity" value="4 ea">
                    </div>
                        <input type="submit" id="add_product" value="Add product">
                </form>
            </main>
            <footer>
                <div class="notes css">
                    <a href="http://jigsaw.w3.org/css-validator/validator?uri=csc122webproject.herokuapp.com"><img src="{{ url_for('static', filename='images/css.png') }}" alt="CSS Validation Button" /></a>
                </div>
                <div class="notes html5">
                    <a href="https://validator.w3.org/check?uri=csc122webproject.herokuapp.com"><img  src="{{ url_for('static', filename='images/html.png') }}" alt="HTML5 Validation Button" /></a>  
                </div>
            </footer>
        </div>
        <script src="{{ url_for('static', filename='scripts/update.js') }}"></script>    
    </body>
</html>

